.header{
  background-color: #f72210;
}

.subs::placeholder {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item{
  /* font-family: "Roboto Condensed",sans-serif;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold; */
}